// _variable.scss

body {
  font-family: $font-family, 'sans-serif';
  font-size: 14px;
  color: $text;
}
a.card{
  color: #4D4D4D;
  text-decoration: none;
}
.text-truncate-2lines{
  -webkit-line-clamp: 2;
  white-space: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.main-content{
  padding-top: 100px;
  @include media-breakpoint-up(md) {    
    max-width: 992px;
    background: $white;
    min-height: 100vh;
  }
}
.loading{
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 15px;
  width: 140px;
  height: 170px;
  background: rgba($black, .1);
  border-radius: 4px;
  &.loading-details{
    min-height: 50vh;
    width: 100%;
  }
  &.loading-title{
    height: 70px;
    width: 100%;
  }
}
.font12{
  font-size: 12px;
}
.bg-color{
  @include media-breakpoint-up(lg) {
    background-color: #EEEEEE;
  }
}