// _variable.scss
$border-radius-base: 2px;
$border-radius-large: 2px;
$border-radius-small: 2px;
$theme-colors: (
    "primary": $primary,
    "warning": $warning,
    "success": $success,
    "danger": $danger,
);