$black: #000000 !default;
$white: #ffffff !default;
$primary: #178aff;
$secondary: #6c757d;
$success: #34A853;
$warning: #ffcc38;
$info: #17a2b8;
$danger: #EA4335;
$placeholder: #c6c6c6 !important;
$font-family: 'Roboto';

